@model IEnumerable<dynamic>

<h2>Assessment Scores</h2>

@if (!Model.Any())
{
    <p>No assessment scores available.</p>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Assessment ID</th>
                <th>Score</th>
                <th>Total Marks</th>
                <th>LearnerId</th>
                <th>Learner Name</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var score in Model)
            {
                <tr>
                    <td>@score.Title</td>
                    <td>@score.AssID</td>
                    <td>@score.Score</td>
                    <td>@score.TotalMarks</td>
                    <td>@score.LearnerId</td>
                    <td>@score.Name</td>

                </tr>
            }
        </tbody>
    </table>
}
